h1 {
	size: 4rem;
	margin: 20px;
}

body {
	height: 100%;
	text-align: center;
	color: white;
	text-shadow: .5px .5px #000033;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1547652151-75f4a2e1add0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}

#townName {
	margin: 20px;
	font-size: 2rem;
}

#official {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#item {
	margin-bottom: 20px;
}

#office {
	text-decoration: bold;
	margin-right: 20px;
	margin-left: 20px;
}

[id^='listItem'] {
	margin-bottom: 20px;
}


