h1 {
	size: 4rem;
	margin: 20px;
}

body {
	height: 100%;
	text-align: center;
}

#townName {
	margin: 20px;
	font-size: 2rem;
}

#official {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#office {
	text-decoration: bold;
	margin-right: 20px;
	margin-left: 20px;
}


